# editor noise
*~
*.sw[op]
*.bak
/.idea/

# lockfile by SerialLine
LCK..ttyNOTTY

# generated now
/check_raid.pl
/check_raid.pl.asc

# rpm builds
/nagios-plugin-*.rpm
/BUILD

# perl dist
/fatpack/
/local/
/cache/
/blib/
/*.tar.gz
/MANIFEST
/MYMETA.json
/MYMETA.yml
