# editor backups
*~
*.sw[op]
*.bak

# lockfile by SerialLine
LCK..ttyNOTTY

# generated now
/check_raid.pl
/check_raid.pl.asc

# rpm builds
/nagios-plugin-*.rpm
/BUILD

# perl dist
/fatpack/
/local/
/*.tar.gz
/MANIFEST
/MYMETA.json
/MYMETA.yml
