# Usage:
# check_raid
define command {
	command_name    check_raid
	command_line    /usr/lib/nagios/plugins/check_raid $ARG1$
}

# service template
define service {
	use                     generic-service
	name                    raid
	service_description     raid
	register                0

	normal_check_interval   30
	retry_check_interval    5
	notification_interval   3600

	check_command           check_raid
}

# sample check
#define service {
#	use                     raid
#	host_name               localhost
#}

# sample check via nrpe
#define service {
#	use                     raid
#	hostgroups              linux-servers
#	host_name               localhost
#	check_command           check_nrpe!-c check_raid -t 60
#}
